/* -------------------------------- INICIO DESKTOP -------------------------------*/
@media screen and (min-width:1024px){
	.logo{
		width: 10%;
	}

header{
   
    background:white;
    width: 100%;
    padding: 5px;
    margin:5px;
}

nav{
    text-decoration: none;
    
}
	
	footer{
		width: 100%;
		height: auto;
		display: flex;
		float: right;
		
			
	}
	
	.padrasto{
		width: 100%;
		display: flex;
		justify-content: flex-end;
	}
	
	
h1{
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    float:inline-start;
    justify-content: center;
    padding: 0,5%;
}

a img {
    width:100px;
		float: left;
		padding: 10px;
		margin: 50px;
        display: flex;
        justify-content: center;
}

	.cxpai{
		width: 100%;
		height: auto;
		display: flex;
		justify-content: space-between;
		background: #5a0e34;
	}
	
main{
    width: 100%;
    background: #5a0e34;
    
}
 
section{
   width: 50%;
    background: #5a0e34;
    border-radius: 30px 30px 30px 30px;
    padding:10%;
}


aside{
    width: 40%;
    height: auto;
}

.aside{
	width: 70%;
	height: auto;
	margin: 1%;
	padding: 1%;
	display: flex;
	box-sizing: border-box;
	background-color:#5b3648;
	border-radius: 30px 30px 30px 30px;
	}


    #section{
        width: 50%;
        height: auto;
        margin: 10px;
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        background-color:#5a0e34;
        color: white;
		justify-content: center;
        }

main img {
    width: 200px;
    height: 500px;
}

p{
    padding: 10px;
    margin: 10px;
}
h2{
    padding: 1%;
	}
	
	.footer{
		width: 100%;
		height: auto;
		display: flex;
	}
	
	
	.caixa3{
		width: 5%;
	height: 5px;
	background-color:darkgreen;
	margin-top: 4%;
		
	}
	.caixa4{
		width: 5%;
		height: 5px;
		background-color:goldenrod;
		margin-top: 4%;
		
	}
	.caixa5{
		width: 5%;
		height: 5px;
		background-color:darkblue;
		margin-top: 4%;
		}
	
} /* -------------------------------- FIM DESKTOP -------------------------------*/


/* --------------------------------------INICIO SMARPHONE---------------------------------------*/
@media screen and (max-width:880px){
    body {color:#5a0e34;}

    header{
        display: flex;
		justify-content: space-between;
    }
    
    nav{
        text-decoration: none;
        
    }
    
    .box1{
        width: 100%;
        height: 500px;
        background-color:#5a0e34 ;
        display: inline-block;
        border-radius: 30px 30px 30px 30px;
        padding:10%;
    }
     .bx2{
        width: 100%;
        height: auto;
        background-color: #5a0e34;
        display: inline-block;
        border-radius: 30px 30px 30px 30px;
        padding:10%;
     }
    
    h1{
        color: white;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        display: flex;
        float:inline-start;
        justify-content: center;
    }
    
    a img {
        width:80px;
            float: left;
            padding: 10px;
            margin: 50px;
            display: flex;
            justify-content: center;
    }
    
    main{
        width: 100%;
        background: #5a0e34;
        border-radius: 30px 30px 30px 30px;
        padding:10%;
    }
     
    section{
       width: 100%;
        background: #5a0e34;
        border-radius: 30px 30px 30px 30px;
        padding:10%;
    }
    
    
    aside{
        width: 50%;
        height: auto;
    }
    
    .aside{
        width: 50%;
        height: auto;
        margin: 1%;
        padding: 1%;
        display: flex;
        box-sizing: border-box;
        background-color:#5A0E34;
        }
    
    
        #section{
            width: 100%;
            height: auto;
            margin: 10px;
            padding: 20px;
            box-sizing: border-box;
            display: flex;
            background-color:#5A0E34;
            color: white;
            }
    
	.caixa3{
		width: 5%;
	height: 50px;
	background-color: green;
	margin-top: 4%;
	padding: 20px
		
	}
	.caixa4{
		width: 5%;
		height: 50px;
		background-color: yellow;
		margin-top: 4%;
		padding: 20px
		
	}
	.caixa5{
		width: 5%;
		height: 50px;
		background-color: blue;
		margin-top: 4%;
			padding: 20px;
		}
	
	.responsivo{
		width: 20%;
		height: auto;
		
	}
	.footer{
		width: 100%;
		height: auto;
		display: flex;
		justify-content: space-around;
	}
	
}/* --------------------------------------FIM SMARPHONE---------------------------------------*/